.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: var(--bgSoft);
  padding: 50px;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
}

.github {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  & .icon {
    font-size: 20px;
  }
}
